# Mac
.DS_Store

# emacs
*~

# vim
.swp

## proposed by https://github.com/katalon-studio/ShadowDOMSampleProject/blob/master/.gitignore#L3
/\.classpath
/\.project
/\.settings/
/bin/lib/
/Libs/
.cache/
settings/

## I do not want Report to be published
/Reports/
/Materials/
/tmp/
/bin/
build/
.gradle/

out.json

Drivers/
